@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

@theme {
  --color-ridesucr-gray: #949494;
  --color-ridesucr-black: #000000;
  --color-ridesucr-green: #005058;
  --font-ridesucr-bebas: "Bebas Neue";
}
